:root {
  --elements_per_file: 15vw;
  --percent_elements: 15%;
  --dark_bg: rgba(16,22,24,0.8);
  --dark_bg_grad: rgba(16,22,24,0.5);
  --light_bg: rgba(245, 240, 236, .7);
  --main-bg-color: #fff;
  --main-text-color: #888888;
}

:root {
  --elements_per_file: 15vw;
  --percent_elements: 15%;
  --dark_bg: rgba(16,22,24,0.8);
  --dark_bg_grad: rgba(16,22,24,0.5);
  --light_bg: rgba(245, 240, 236, .7);
  --main-bg-color: #fff;
  --main-text-color: #888888;
}

:root {
  --elements_per_file: 15vw;
  --percent_elements: 15%;
  --dark_bg: rgba(16,22,24,0.8);
  --dark_bg_grad: rgba(16,22,24,0.5);
  --light_bg: rgba(245, 240, 236, .7);
  --main-bg-color: #fff;
  --main-text-color: #888888;
}

:root {
  --elements_per_file: 15vw;
  --percent_elements: 15%;
  --dark_bg: rgba(16,22,24,0.8);
  --dark_bg_grad: rgba(16,22,24,0.5);
  --light_bg: rgba(245, 240, 236, .7);
  --main-bg-color: #fff;
  --main-text-color: #888888;
}

html {
  scroll-behavior: smooth;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

section {
  width: 100vw;
  position: relative;
  overflow: hidden;
  background: transparent;
}
section:not(.glass) {
  height: 100vh;
}
section > div {
  transition: opacity 2.2s linear;
}
section svg {
  display: none;
}
section .hexagon {
  color: rgba(0, 0, 0, 0.6);
  width: var(--percent_elements);
  height: var(--elements_per_file);
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity 2.2s ease, width 0.4s ease, height 0.4s ease, transform 0.3s ease-in-out;
  animation: init 2.2s forwards;
}
section .hexagon .inner {
  width: 100%;
  height: auto;
  position: absolute;
  transition: opacity 2.2s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.0475);
}
section .hexagon .inner svg {
  display: block;
  height: 100%;
  width: 100%;
  color: var(--dark_bg);
  transition: transform 0.25 ease-in-out, filter 0.25s ease-in-out;
  cursor: pointer;
}
section .hexagon .inner svg.hex {
  transition: opacity 2.2s ease-in-out;
  opacity: 0.8;
}
section .hexagon .inner svg:hover {
  transform: scale(1.02);
  filter: drop-shadow(0px 0px 10px var(--dark_bg));
}

@keyframes init {
  0% {
    opacity: 0;
    width: var(--percent_elements);
    height: var(--elements_per_file);
  }
  100% {
    opacity: 1;
    width: var(--percent_elements);
    height: var(--elements_per_file);
  }
}
.in {
  opacity: 0.975;
}

.line {
  color: var(--dark_bg);
  opacity: 0.5;
  stroke: var(--dark_bg);
}

.hex path, .hex use {
  transition: opacity 2.2s ease-in-out, color 2.2s ease;
  max-width: 100%;
  max-height: 100%;
  stroke: none;
  color: var(--dark_bg);
}

#abg.light .hexagon {
  color: var(--light_bg);
}
#abg.light .hexagon .inner svg {
  color: var(--light_bg);
}
#abg.light .hexagon .hex path, #abg.light .hexagon .hex use {
  color: var(--light_bg);
}

#abg.map .hexagon {
  color: var(--dark_bg_grad);
}
#abg.map .hexagon .inner svg {
  color: var(--dark_bg_grad);
}
#abg.map .hexagon .hex path, #abg.map .hexagon .hex use {
  color: var(--dark_bg_grad);
}

.out {
  opacity: 0.3;
}
.out .hex path, .out .hex use, .out svg {
  opacity: 0.75;
}

:root {
  --elements_per_file: 15vw;
  --percent_elements: 15%;
  --dark_bg: rgba(16,22,24,0.8);
  --dark_bg_grad: rgba(16,22,24,0.5);
  --light_bg: rgba(245, 240, 236, .7);
  --main-bg-color: #fff;
  --main-text-color: #888888;
}

:root {
  --elements_per_file: 15vw;
  --percent_elements: 15%;
  --dark_bg: rgba(16,22,24,0.8);
  --dark_bg_grad: rgba(16,22,24,0.5);
  --light_bg: rgba(245, 240, 236, .7);
  --main-bg-color: #fff;
  --main-text-color: #888888;
}

@keyframes rightA {
  0% {
    transform: translate(-52%, 10%) scale(0.22);
  }
  20% {
    transform: translate(-53%, 12%) scale(0.21);
  }
  40% {
    transform: translate(-52%, 10%) scale(0.2);
  }
  60% {
    transform: translate(-48%, 14%) scale(0.21);
  }
  80% {
    transform: translate(-51%, 12%) scale(0.22);
  }
  100% {
    transform: translate(-52%, 10%) scale(0.22);
  }
}
@keyframes backA {
  0% {
    transform: translate(-56%, 0%) scale(0.2);
  }
  20% {
    transform: translate(-57%, 12%) scale(0.19);
  }
  40% {
    transform: translate(-59%, 10%) scale(0.18);
  }
  60% {
    transform: translate(-50%, 14%) scale(0.17);
  }
  80% {
    transform: translate(-58%, 12%) scale(0.19);
  }
  100% {
    transform: translate(-56%, 0%) scale(0.2);
  }
}
@keyframes leftA {
  0% {
    transform: translate(-25%, 15%) scale(0.22);
  }
  20% {
    transform: translate(-27%, 17%) scale(0.22);
  }
  40% {
    transform: translate(-32%, 19%) scale(0.21);
  }
  60% {
    transform: translate(-28%, 18%) scale(0.2);
  }
  80% {
    transform: translate(-24%, 20%) scale(0.21);
  }
  100% {
    transform: translate(-25%, 15%) scale(0.22);
  }
}
@keyframes topA {
  0% {
    transform: translate(-12.5%, 10%) scale(0.18);
  }
  20% {
    transform: translate(-11.7%, 11%) scale(0.19);
  }
  40% {
    transform: translate(-12.8%, 15%) scale(0.17);
  }
  60% {
    transform: translate(-15.6%, 12%) scale(0.16);
  }
  80% {
    transform: translate(-13%, 9%) scale(0.18);
  }
  100% {
    transform: translate(-12.5%, 10%) scale(0.18);
  }
}
@keyframes bottomA {
  0% {
    transform: translate(-20%, 0%) scale(0.2);
  }
  20% {
    transform: translate(-20%, 4%) scale(0.19);
  }
  40% {
    transform: translate(-21%, 9%) scale(0.2);
  }
  60% {
    transform: translate(-26%, 8%) scale(0.19);
  }
  80% {
    transform: translate(-21%, 6%) scale(0.2);
  }
  100% {
    transform: translate(-20%, 0%) scale(0.2);
  }
}
#sp-0 {
  position: absolute;
  top: -10px;
  right: 5px;
  color: black;
  transition: transform 1s ease-in-out;
  transition-delay: 0.4s;
  transform: scale(0.75) translateX(200%);
  mix-blend-mode: multiply;
}
#sp-0 .clock {
  min-height: 18em;
  min-width: 18em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  background-image: url("../assets/img/clock.png");
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  border: 4px solid var(--main-bg-color);
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
#sp-0 .clock:before {
  content: "";
  height: 0.75rem;
  width: 0.75rem;
  background-color: var(--main-text-color);
  border: 2px solid var(--main-bg-color);
  position: absolute;
  border-radius: 50%;
  z-index: 1000;
  transition: all ease 0.2s;
}
#sp-0 .hour,
#sp-0 .min,
#sp-0 .sec {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
#sp-0 .hour {
  height: 10em;
  width: 10em;
}
#sp-0 .hour:before {
  content: "";
  position: absolute;
  height: 50%;
  width: 6px;
  background-color: var(--main-text-color);
  border-radius: 6px;
}
#sp-0 .min {
  height: 12em;
  width: 12em;
}
#sp-0 .min:before {
  content: "";
  height: 50%;
  width: 4px;
  background-color: var(--main-text-color);
  border-radius: 4px;
}
#sp-0 .sec {
  height: 13em;
  width: 13em;
}
#sp-0 .sec:before {
  content: "";
  height: 60%;
  width: 2px;
  background-color: #f00;
  border-radius: 2px;
}
#sp-0.active {
  transform: scale(0.75) translateX(0);
}

.home {
  font-size: 1.12rem;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.home header {
  color: white;
}
.home header .lmenu {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  color: black;
  background: black;
  width: 100vw;
  height: 100vh;
  transform: translate(0, 0);
  animation: introduction 1s forwards 1s;
}
.home header h1 {
  color: currentColor;
  font-weight: 300;
  position: absolute;
  top: 110px;
  left: 24px;
  mix-blend-mode: exclusion;
  font-size: 90%;
}
.home header .logo {
  font-size: 3.1rem;
  font-weight: 900;
  color: currentColor;
  mix-blend-mode: exclusion;
  position: absolute;
  top: 20px;
  left: 127px;
  filter: invert(1);
}
.home header .logo .fya {
  padding: 0.25rem 0.75rem;
  background: black;
}
.home header .logo .fya small {
  font-weight: 900;
  font-size: 66%;
  vertical-align: text-top;
  line-height: 4rem;
  transform: translateY(-0.1rem);
}
.home header .logo .vision {
  filter: invert(1);
}
.home header .lmenu, .home header .logo, .home header h1, .home header .cubeMenu {
  transition: transform 1.2s ease-in-out;
  transition-delay: 1.25s;
}
.home header.p5 .lmenu, .home header.p5 .logo, .home header.p5 h1, .home header.p5 .cubeMenu {
  transform: translateX(305px);
}
.home main .glass {
  position: absolute;
  top: 175px;
  left: 50%;
  width: 80vw;
  max-width: 740px;
  transition: transform 1s ease-in-out, opacity 1.2s ease;
}
.home main .glass .container {
  width: 100%;
  height: auto;
  position: relative;
}
.home main .glass .container .close {
  background-color: transparent;
  border: none;
  text-transform: inherit;
  white-space: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 1.8rem;
}
.home main .glass .container .close:active, .home main .glass .container .close:focus {
  outline: none;
  box-shadow: none;
}
.home main .glass .container .prev, .home main .glass .container .next {
  background-color: transparent;
  border: none;
  text-transform: inherit;
  white-space: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  position: absolute;
  font-size: 2.2rem;
  bottom: 10px;
  color: rgba(18, 32, 41, 0.1);
  text-shadow: 0px 1px 2px rgba(200, 200, 200, 0.4), 0px -1px 1px rgba(18, 32, 41, 0.82);
  opacity: 0.7;
  transition: opacity 0.25s ease;
}
.home main .glass .container .prev:active, .home main .glass .container .prev:focus, .home main .glass .container .next:active, .home main .glass .container .next:focus {
  outline: none;
  box-shadow: none;
}
.home main .glass .container .prev:hover, .home main .glass .container .prev:active, .home main .glass .container .prev:focus, .home main .glass .container .next:hover, .home main .glass .container .next:active, .home main .glass .container .next:focus {
  opacity: 1;
}
.home main .glass .container .next {
  right: 40px;
}
.home main .glass .container .prev {
  left: 40px;
}
.home main .glass .container .index {
  position: absolute;
  top: 10px;
  left: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  color: rgba(18, 32, 41, 0.1);
  text-shadow: 0px 1px 2px rgba(200, 200, 200, 0.4), 0px -1px 1px rgba(18, 32, 41, 0.82);
}
.home main .glass .container .index span {
  font-size: 2.75rem;
}
.home main .glass .container .index h2 {
  font-size: 1.1rem;
  display: inline-block;
  line-height: 1.1rem;
  margin-left: 7.5px;
}
.home main .glass .container .card {
  background: rgba(255, 255, 255, 0.55);
  background: linear-gradient(96deg, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.6) 33%, rgba(255, 255, 255, 0.65) 66%, rgba(255, 255, 255, 0.48) 100%);
  border: none;
  padding: 70px 36px 50px;
  border-radius: 6px;
  -webkit-backdrop-filter: blur(2px) hue-rotate(-10deg) brightness(1.2);
  backdrop-filter: blur(2px) hue-rotate(-10deg) brightness(1.2);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: black;
  max-width: 800px;
  height: 100%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-shadow: 0 0 4px rgba(200, 240, 250, 0.35), 0 0 2.9em rgba(13, 50, 77, 0.6941176471) inset;
}
.home main .glass .container .card .fp {
  display: flex;
  justify-content: left;
  align-items: center;
}
.home main .glass .container .card .fp span:first-child {
  font-size: 280%;
  opacity: 0.7;
  margin-right: 7.5px;
  font-weight: bold;
}
.home main .glass .container .card ul {
  margin-left: 30px;
}
.home main .glass .container .card > * {
  transition: opacity 1.2s ease;
}
.home main .glass .container .noShow {
  position: absolute;
  transform: translateX(-50%, -50%) scale(0);
  top: 50%;
  left: 50%;
  font-size: 10rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 98%;
  height: 100%;
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.5s ease;
  z-index: -1;
}
.home main .glass .container .noShow button {
  background-color: transparent;
  border: none;
  text-transform: inherit;
  white-space: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  flex: 1;
  transition: background-color 0.4s ease;
  font-weight: bold;
}
.home main .glass .container .noShow button:active, .home main .glass .container .noShow button:focus {
  outline: none;
  box-shadow: none;
}
.home main .glass .container .noShow button:first-child:hover {
  background-color: rgba(0, 255, 13, 0.5);
  opacity: 0.4;
}
.home main .glass .container .noShow button:last-child:hover {
  background-color: rgba(255, 0, 0, 0.5);
  opacity: 0.4;
}
.home main .glass.animate {
  animation-delay: 1s;
}
.home main .glass.animate .noShow {
  transform: translate(-50%, -50%) scale(1);
  z-index: 1;
}
.home main .glass.animate .noShow:hover {
  opacity: 1 !important;
}
.home main .glass.animate .noShow:hover button {
  opacity: 0.25 !important;
}
.home main .glass#front {
  max-width: 700px;
  display: flex;
  align-items: stretch;
}
.home main .glass#front > div {
  flex: 1;
}
.home main .glass#front .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
.home main .glass#front .container .first {
  flex: 1;
}
.home main .glass#front .container .card {
  padding: 35px;
  height: auto;
}
.home main .glass#front .container .card:not(.nd) {
  color: white;
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
  background: linear-gradient(96deg, rgba(0, 5, 0, 0.6) 0%, rgba(0, 0, 0, 0.7) 33%, rgba(0, 5, 0, 0.65) 66%, rgba(0, 0, 0, 0.5) 100%);
  -webkit-backdrop-filter: blur(1.5px) hue-rotate(5deg) brightness(0.9);
          backdrop-filter: blur(1.5px) hue-rotate(5deg) brightness(0.9);
}
.home main .glass#front .container .card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}
.home main .glass#front .container .card .opening-hours {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home main .glass#front .container .card .opening-hours h3 {
  margin-bottom: 15px;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 90%;
}
.home main .glass#front .container .card .opening-hours > div:first-child {
  text-align: right;
}
.home main .glass#front .container .card .opening-hours .v-separator {
  flex-basis: auto;
  content: "";
  display: block;
  height: 110px;
  width: 2px;
  background: #727272;
  margin: 0 25px;
}
.home main .glass#front .container .card .opening-hours p {
  margin: 0;
}
.home main .glass#front .container .card.nd {
  margin-top: 7.5px;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}
.home main .glass#front .container .card.nd span {
  display: inline;
}
.home main .glass#front .container .social-media {
  display: flex;
  flex-basis: auto;
  align-items: stretch;
}
.home main .glass#front .container .social-media svg {
  transform: rotate(90deg);
  transform-origin: left;
  width: 150px;
  height: 60px;
  fill: white;
  display: block;
}
.home main .glass#front .container .social-media .fb {
  margin: 0 7.5px;
  text-orientation: mixed;
  max-width: 50px;
  background: rgba(1, 101, 225, 0.55);
  background: linear-gradient(96deg, rgba(1, 101, 225, 0.55) 0%, rgba(1, 101, 225, 0.6) 33%, rgba(1, 101, 225, 0.65) 66%, rgba(1, 101, 225, 0.48) 100%);
}
.home main .glass#front .container .social-media .ig {
  max-width: 50px;
  text-orientation: mixed;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, rgba(252, 244, 150, 0.6) 0%, rgba(253, 244, 150, 0.7) 5%, rgba(253, 88, 73, 0.65) 45%, rgba(214, 36, 157, 0.65) 60%, rgba(40, 89, 235, 0.7) 90%);
}
.home main .glass#front .container .lt {
  width: 100%;
  margin-top: 7.5px;
}
.home main .glass#front .varilux {
  writing-mode: vertical-lr;
  flex: 0;
  margin: 0;
  padding: 0;
  height: auto;
}
.home main .glass#front .varilux .card.nd {
  margin: 0;
  height: 100%;
  min-width: 68px;
}
.home main .glass#front .varilux .card.nd img {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 0% 50%;
  display: block;
  height: 50px;
  bottom: 70px;
  left: 35px;
}
.home main .glass#front .black {
  padding-left: 7.5px;
}
.home main .glass#right {
  transform: translate(-52%, 10%) scale(0.22) matrix3d(0.94, 0, 0.34, 0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1);
}
.home main .glass#right.animate {
  animation: rightA 25s infinite alternate;
}
.home main .glass#back {
  transform: translate(-56%, 0%) scale(0.2) matrix3d(0.94, 0, 0.34, 0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1);
}
.home main .glass#back.animate {
  animation: backA 35s infinite alternate;
}
.home main .glass#left {
  transform: translate(-25%, 15%) scale(0.22) matrix3d(0.9, 0.1, 0.34, -0.00025, 0, 0.95, 0, 0.00014, -0.5, 0, 0, 0, 1, 1, 0, 1.4);
}
.home main .glass#left.animate {
  animation: leftA 30s infinite alternate;
}
.home main .glass#top {
  transform: translate(-12.5%, 10%) scale(0.18) matrix3d(0.9, 0.1, 0.34, -0.00025, 0, 0.95, 0, 0.00014, -0.5, 0, 0, 0, 1, 1, 0, 1.4);
}
.home main .glass#top.animate {
  animation: topA 25s infinite alternate;
}
.home main .glass#bottom {
  transform: translate(-20%, 0%) scale(0.2) matrix3d(0.9, 0.1, 0.34, -0.00025, 0, 0.95, 0, 0.00014, -0.5, 0, 0, 0, 1, 1, 0, 1.4);
}
.home main .glass#bottom.animate {
  animation: bottomA 40s infinite alternate;
}
.home main .glass:not(.animate) {
  opacity: 0;
}
.home main .glass.active {
  z-index: 2;
  opacity: 1;
  animation: none !important;
  transform: translate(-50%, 0) scale(1) !important;
}
.home main .glass.active#front {
  top: 175px;
  left: 25px;
  transform: translate(0, 0) scale(1) !important;
}
.home main .glass:not(.active) .container .card > *, .home main .glass:not(.active) .container div > * {
  opacity: 0;
}
.home main .glass:not(.active) .container button {
  opacity: 0;
}

@keyframes introduction {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: black;
  }
  40% {
    height: 25vh;
  }
  60% {
    width: 100vw;
    left: 0;
  }
  90% {
    left: calc(100% - 40px);
    height: 25vh;
    width: 40px;
    top: 0;
  }
  100% {
    height: 3px;
    top: 25px;
    width: 40px;
    left: calc(100% - 100px);
  }
}
.slider {
  width: 100vw;
  height: 100vh;
  position: relative;
  align-items: flex-end;
  display: flex;
}
.slider > div {
  width: 100%;
  height: 100%;
}
.slider > div picture {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease, transform 1s ease-in-out;
  transition-delay: 0.1s;
}
.slider > div picture:not(.bg) {
  transition-delay: 0.6s;
}
.slider > div picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#imgCT picture:not(.active) {
  opacity: 0;
  transform: matrix3d(0.94, 0, 0.34, 0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(-100%) skew(-25deg);
}
#imgCT picture:not(.active):not(.bg) {
  transform: matrix3d(0.94, 0, 0.34, 0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(100%) skew(36deg);
}
#imgCT picture.active {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) translateX(0) skew(0);
}
#imgCT #p-5 {
  position: absolute;
  mix-blend-mode: overlay;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
  transition-delay: 1.2s;
  width: 100%;
  height: 100%;
}
#imgCT #p-5.active {
  opacity: 1;
}
#imgCT #p-5:after, #imgCT #p-5:before {
  content: "";
  z-index: 1;
  display: block;
  width: 100%;
  position: absolute;
  top: -1px;
  left: 0;
  height: 250px;
  mix-blend-mode: multiply;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}
#imgCT #p-5:before {
  width: 450px;
  height: 100%;
  mix-blend-mode: color-burn;
  background: linear-gradient(270deg, rgba(112, 107, 135, 0) 0%, rgb(92, 99, 107) 100%);
}
#imgCT #p-5 iframe {
  mix-blend-mode: overlay;
  border: 0;
  position: absolute;
  z-index: 2;
}

:root {
  --elements_per_file: 15vw;
  --percent_elements: 15%;
  --dark_bg: rgba(16,22,24,0.8);
  --dark_bg_grad: rgba(16,22,24,0.5);
  --light_bg: rgba(245, 240, 236, .7);
  --main-bg-color: #fff;
  --main-text-color: #888888;
}

:root {
  --elements_per_file: 15vw;
  --percent_elements: 15%;
  --dark_bg: rgba(16,22,24,0.8);
  --dark_bg_grad: rgba(16,22,24,0.5);
  --light_bg: rgba(245, 240, 236, .7);
  --main-bg-color: #fff;
  --main-text-color: #888888;
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.267);
  z-index: 1000;
}
.modal > * {
  background-color: #fff;
}
.modal__content {
  max-width: 20rem;
  padding: 1rem;
  text-align: center;
}
.modal.show {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.modal .close-button {
  background-color: transparent;
  border: none;
  outline: none;
}

.cubeMenu {
  position: fixed;
  top: 20px;
  left: 25px;
  overflow: visible;
  opacity: 0.8;
}

#ccubes {
  position: relative;
  transform-style: preserve-3d;
}
#ccubes .cube {
  position: absolute;
  transform-style: preserve-3d;
  width: 76px;
  height: 76px;
  transition: transform 1s ease-in-out;
  cursor: pointer;
  left: 0;
  will-change: transform;
  transform: translateZ(125px) rotateY(-45deg) rotateX(115deg) rotateZ(120deg);
}
#ccubes .cube > * {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(315deg, #d1dbdf 0%, #e6e6e6 74%);
  opacity: 0.85;
  box-shadow: 0 0 0.9em #0d324d inset;
  transition: opacity 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.15em;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px #0d324d;
}
#ccubes .cube .front {
  transform: translateZ(38px);
}
#ccubes .cube .front span {
  border-style: solid;
  border-width: 14px 0 14px 28px;
  border-color: transparent transparent transparent #0d324d;
  opacity: 0.8;
  transform: translate(1px, 1px);
}
#ccubes .cube .right {
  transform: rotateY(90deg) translateZ(38px);
}
#ccubes .cube .back {
  transform: rotateY(180deg) translateZ(38px);
}
#ccubes .cube .left {
  transform: rotateY(270deg) translateZ(38px);
}
#ccubes .cube .bottom {
  width: 76px;
  height: 76px;
  bottom: 0;
  transform: rotateX(270deg) translateZ(38px);
}
#ccubes .cube .top {
  width: 76px;
  height: 76px;
  background-image: linear-gradient(315deg, #d1dbdf 0%, #e6e6e6 74%);
  background-size: 152px 76px;
  background-repeat: no-repeat;
  transform: rotateX(90deg) translateZ(38px);
}
#ccubes .cube:hover > * {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */