:root {
  --elements_per_file: 15vw;
  --percent_elements: 15%;
  --dark_bg: rgba(61, 85, 93, 0.92);
  --dark_bg_grad: linear-gradient(90deg, rgba(255,255,255,0.30808820110075286) 0%, rgba(54,66,66,0.38371845320159315) 35%, rgba(255,255,255,0.24926467168898814) 100%);
  --light_bg: rgba(250, 250, 250, .7);
  --light_bg_grad: linear-gradient(90deg, rgba(255,255,255,0.30808820110075286) 0%, rgba(54,66,66,0.38371845320159315) 35%, rgba(255,255,255,0.24926467168898814) 100%);
}

:root {
  --elements_per_file: 15vw;
  --percent_elements: 15%;
  --dark_bg: rgba(61, 85, 93, 0.92);
  --dark_bg_grad: linear-gradient(90deg, rgba(255,255,255,0.30808820110075286) 0%, rgba(54,66,66,0.38371845320159315) 35%, rgba(255,255,255,0.24926467168898814) 100%);
  --light_bg: rgba(250, 250, 250, .7);
  --light_bg_grad: linear-gradient(90deg, rgba(255,255,255,0.30808820110075286) 0%, rgba(54,66,66,0.38371845320159315) 35%, rgba(255,255,255,0.24926467168898814) 100%);
}

:root {
  --elements_per_file: 15vw;
  --percent_elements: 15%;
  --dark_bg: rgba(61, 85, 93, 0.92);
  --dark_bg_grad: linear-gradient(90deg, rgba(255,255,255,0.30808820110075286) 0%, rgba(54,66,66,0.38371845320159315) 35%, rgba(255,255,255,0.24926467168898814) 100%);
  --light_bg: rgba(250, 250, 250, .7);
  --light_bg_grad: linear-gradient(90deg, rgba(255,255,255,0.30808820110075286) 0%, rgba(54,66,66,0.38371845320159315) 35%, rgba(255,255,255,0.24926467168898814) 100%);
}

:root {
  --elements_per_file: 15vw;
  --percent_elements: 15%;
  --dark_bg: rgba(61, 85, 93, 0.92);
  --dark_bg_grad: linear-gradient(90deg, rgba(255,255,255,0.30808820110075286) 0%, rgba(54,66,66,0.38371845320159315) 35%, rgba(255,255,255,0.24926467168898814) 100%);
  --light_bg: rgba(250, 250, 250, .7);
  --light_bg_grad: linear-gradient(90deg, rgba(255,255,255,0.30808820110075286) 0%, rgba(54,66,66,0.38371845320159315) 35%, rgba(255,255,255,0.24926467168898814) 100%);
}

html {
  scroll-behavior: smooth;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

section {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: transparent;
}
section > div {
  transition: opacity 0.3s linear;
}
section svg {
  display: none;
}
section .hexagon {
  color: rgba(0, 0, 0, 0.6);
  width: var(--percent_elements);
  height: var(--elements_per_file);
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity 0.4s ease, width 0.4s ease, height 0.4s ease, transform 0.3s ease-in-out;
  animation: init 2s forwards;
}
section .hexagon .inner {
  width: 100%;
  height: auto;
  position: absolute;
  transition: opacity 2s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.0475);
}
section .hexagon .inner svg {
  display: block;
  height: 100%;
  width: 100%;
  color: var(--dark_bg);
  transition: transform 0.25 ease-in-out, filter 0.25s ease-in-out;
  cursor: pointer;
}
section .hexagon .inner svg.hex {
  opacity: 0.975;
}
section .hexagon .inner svg:hover {
  transform: scale(1.02);
  filter: drop-shadow(0px 0px 10px var(--dark_bg));
}

.in {
  opacity: 0.975;
}

.out {
  opacity: 0.5;
}

@keyframes init {
  0% {
    opacity: 0;
    width: var(--percent_elements);
    height: var(--elements_per_file);
  }
  100% {
    opacity: 1;
    width: var(--percent_elements);
    height: var(--elements_per_file);
  }
}
.line {
  color: var(--dark_bg);
  opacity: 0.5;
  stroke: var(--dark_bg);
}

.hex path, .hex use {
  max-width: 100%;
  max-height: 100%;
  stroke: none;
  color: var(--dark_bg);
}

:root {
  --elements_per_file: 15vw;
  --percent_elements: 15%;
  --dark_bg: rgba(61, 85, 93, 0.92);
  --dark_bg_grad: linear-gradient(90deg, rgba(255,255,255,0.30808820110075286) 0%, rgba(54,66,66,0.38371845320159315) 35%, rgba(255,255,255,0.24926467168898814) 100%);
  --light_bg: rgba(250, 250, 250, .7);
  --light_bg_grad: linear-gradient(90deg, rgba(255,255,255,0.30808820110075286) 0%, rgba(54,66,66,0.38371845320159315) 35%, rgba(255,255,255,0.24926467168898814) 100%);
}

:root {
  --elements_per_file: 15vw;
  --percent_elements: 15%;
  --dark_bg: rgba(61, 85, 93, 0.92);
  --dark_bg_grad: linear-gradient(90deg, rgba(255,255,255,0.30808820110075286) 0%, rgba(54,66,66,0.38371845320159315) 35%, rgba(255,255,255,0.24926467168898814) 100%);
  --light_bg: rgba(250, 250, 250, .7);
  --light_bg_grad: linear-gradient(90deg, rgba(255,255,255,0.30808820110075286) 0%, rgba(54,66,66,0.38371845320159315) 35%, rgba(255,255,255,0.24926467168898814) 100%);
}

@keyframes rightA {
  0% {
    transform: translate(-96%, 10%) scale(0.19);
  }
  20% {
    transform: translate(-93%, 12%) scale(0.18);
  }
  40% {
    transform: translate(-92%, 10%) scale(0.17);
  }
  60% {
    transform: translate(-90%, 14%) scale(0.16);
  }
  80% {
    transform: translate(-93%, 12%) scale(0.18);
  }
  100% {
    transform: translate(-96%, 10%) scale(0.19);
  }
}
@keyframes backA {
  0% {
    transform: translate(-88%, 0%) scale(0.19);
  }
  20% {
    transform: translate(-93%, 12%) scale(0.18);
  }
  40% {
    transform: translate(-92%, 10%) scale(0.17);
  }
  60% {
    transform: translate(-90%, 14%) scale(0.16);
  }
  80% {
    transform: translate(-93%, 12%) scale(0.18);
  }
  100% {
    transform: translate(-88%, 0%) scale(0.19);
  }
}
@keyframes leftA {
  0% {
    transform: translate(5%, 15%) scale(0.19);
  }
  20% {
    transform: translate(7%, 17%) scale(0.19);
  }
  40% {
    transform: translate(8%, 18%) scale(0.17);
  }
  60% {
    transform: translate(6%, 17%) scale(0.16);
  }
  80% {
    transform: translate(4%, 16%) scale(0.18);
  }
  100% {
    transform: translate(5%, 15%) scale(0.19);
  }
}
@keyframes topA {
  0% {
    transform: translate(-2.5%, 10%) scale(0.19);
  }
  20% {
    transform: translate(-1.7%, 11%) scale(0.19);
  }
  40% {
    transform: translate(-2.8%, 12%) scale(0.17);
  }
  60% {
    transform: translate(0.6%, 11%) scale(0.16);
  }
  80% {
    transform: translate(-1%, 9%) scale(0.18);
  }
  100% {
    transform: translate(-2.5%, 10%) scale(0.19);
  }
}
@keyframes bottomA {
  0% {
    transform: translate(-7.5%, 0%) scale(0.19);
  }
  20% {
    transform: translate(-7%, 4%) scale(0.19);
  }
  40% {
    transform: translate(-8%, 8%) scale(0.17);
  }
  60% {
    transform: translate(-6%, 7%) scale(0.16);
  }
  80% {
    transform: translate(-5%, 4%) scale(0.18);
  }
  100% {
    transform: translate(-7.5%, 0%) scale(0.19);
  }
}
.home {
  font-size: 1.12rem;
  width: 100vw;
  height: 100vh;
}
.home header {
  color: white;
}
.home header .lmenu {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  color: black;
  background: black;
  width: 100vw;
  height: 100vh;
  transform: translate(0, 0);
  animation: introduction 1s forwards 1s;
}
.home header h1 {
  color: currentColor;
  font-weight: 300;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: exclusion;
  font-size: 90%;
}
.home header .logo {
  font-size: 3.1rem;
  font-weight: 900;
  color: currentColor;
  mix-blend-mode: exclusion;
  position: absolute;
  top: 25px;
  left: 140px;
  filter: invert(1);
}
.home header .logo .fya {
  padding: 0.25rem 0.75rem;
  background: black;
}
.home header .logo .fya small {
  font-weight: 900;
  font-size: 66%;
  vertical-align: text-top;
  line-height: 4rem;
  transform: translateY(-0.1rem);
}
.home header .logo .vision {
  filter: invert(1);
}
.home main .glass {
  position: absolute;
  top: 110px;
  left: 50%;
  width: 80vw;
  max-width: 740px;
  transition: transform 1.2s ease-in-out, opacity 1.2s ease;
  transform: translate(-50%, 0) scale(0.2);
}
.home main .glass .container {
  width: 100%;
  height: auto;
  position: relative;
}
.home main .glass .container .close {
  background-color: transparent;
  border: none;
  text-transform: inherit;
  white-space: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 1.8rem;
}
.home main .glass .container .close:active, .home main .glass .container .close:focus {
  outline: none;
  box-shadow: none;
}
.home main .glass .container .prev, .home main .glass .container .next {
  background-color: transparent;
  border: none;
  text-transform: inherit;
  white-space: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  position: absolute;
  font-size: 2.2rem;
  bottom: 10px;
  color: rgba(18, 32, 41, 0.1);
  text-shadow: 0px 1px 2px rgba(200, 200, 200, 0.4), 0px -1px 1px rgba(18, 32, 41, 0.82);
  opacity: 0.7;
  transition: opacity 0.25s ease;
}
.home main .glass .container .prev:active, .home main .glass .container .prev:focus, .home main .glass .container .next:active, .home main .glass .container .next:focus {
  outline: none;
  box-shadow: none;
}
.home main .glass .container .prev:hover, .home main .glass .container .prev:active, .home main .glass .container .prev:focus, .home main .glass .container .next:hover, .home main .glass .container .next:active, .home main .glass .container .next:focus {
  opacity: 1;
}
.home main .glass .container .next {
  right: 40px;
}
.home main .glass .container .prev {
  left: 40px;
}
.home main .glass .container .index {
  position: absolute;
  top: 10px;
  left: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  color: rgba(18, 32, 41, 0.1);
  text-shadow: 0px 1px 2px rgba(200, 200, 200, 0.4), 0px -1px 1px rgba(18, 32, 41, 0.82);
}
.home main .glass .container .index span {
  font-size: 2.75rem;
}
.home main .glass .container .index h2 {
  font-size: 1.1rem;
  display: inline-block;
  line-height: 1.1rem;
  margin-left: 7.5px;
}
.home main .glass .container .card {
  background: rgba(255, 255, 255, 0.46);
  background: linear-gradient(96deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.5) 33%, rgba(255, 255, 255, 0.65) 66%, rgba(255, 255, 255, 0.38) 100%);
  border: none;
  padding: 70px 36px 50px;
  border-radius: 6px;
  -webkit-backdrop-filter: blur(7px) hue-rotate(-20deg);
  backdrop-filter: blur(7px) hue-rotate(-20deg);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: black;
  max-width: 800px;
  height: 100%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4), 0 0 2.9em rgba(13, 50, 77, 0.8274509804) inset;
}
.home main .glass .container .card .fp {
  display: flex;
  justify-content: left;
  align-items: center;
}
.home main .glass .container .card .fp span:first-child {
  font-size: 280%;
  opacity: 0.7;
  margin-right: 7.5px;
  font-weight: bold;
}
.home main .glass .container .card ul {
  margin-left: 30px;
}
.home main .glass .container .card > * {
  transition: opacity 1.2s ease;
}
.home main .glass#right.animate {
  transform: translate(-92%, 10%) scale(0.19);
}
.home main .glass#right.animate.animate {
  animation: rightA 25s infinite alternate;
}
.home main .glass#back.animate {
  transform: translate(-88%, 0%) scale(0.19);
}
.home main .glass#back.animate.animate {
  animation: backA 25s infinite alternate;
}
.home main .glass#left.animate {
  transform: translate(5%, 15%) scale(0.19);
}
.home main .glass#left.animate.animate {
  animation: leftA 25s infinite alternate;
}
.home main .glass#top.animate {
  transform: translate(-2.5%, 10%) scale(0.19);
}
.home main .glass#top.animate.animate {
  animation: topA 25s infinite alternate;
}
.home main .glass#bottom.animate {
  transform: translate(-7.5%, 0%) scale(0.2);
}
.home main .glass#bottom.animate.animate {
  animation: bottomA 25s infinite alternate;
}
.home main .glass:not(.animate) {
  opacity: 0;
}
.home main .glass.active {
  opacity: 1;
  animation: none !important;
  transform: translate(-50%, 0) scale(1) !important;
}
.home main .glass:not(.active) .container .card > *, .home main .glass:not(.active) .container div > * {
  opacity: 0;
}
.home main .glass:not(.active) .container button {
  opacity: 0;
}
.home-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@keyframes introduction {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: black;
  }
  40% {
    height: 25vh;
  }
  60% {
    width: 100vw;
    left: 0;
  }
  90% {
    left: calc(100% - 40px);
    height: 25vh;
    width: 40px;
    top: 0;
  }
  100% {
    height: 3px;
    top: 25px;
    width: 40px;
    left: calc(100% - 100px);
  }
}
.slider {
  width: 100vw;
  height: 100vh;
  position: relative;
  align-items: flex-end;
  display: flex;
}

#slide_a {
  width: 100%;
  height: 100%;
}
#slide_a picture {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#slide_a picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

:root {
  --elements_per_file: 15vw;
  --percent_elements: 15%;
  --dark_bg: rgba(61, 85, 93, 0.92);
  --dark_bg_grad: linear-gradient(90deg, rgba(255,255,255,0.30808820110075286) 0%, rgba(54,66,66,0.38371845320159315) 35%, rgba(255,255,255,0.24926467168898814) 100%);
  --light_bg: rgba(250, 250, 250, .7);
  --light_bg_grad: linear-gradient(90deg, rgba(255,255,255,0.30808820110075286) 0%, rgba(54,66,66,0.38371845320159315) 35%, rgba(255,255,255,0.24926467168898814) 100%);
}

:root {
  --elements_per_file: 15vw;
  --percent_elements: 15%;
  --dark_bg: rgba(61, 85, 93, 0.92);
  --dark_bg_grad: linear-gradient(90deg, rgba(255,255,255,0.30808820110075286) 0%, rgba(54,66,66,0.38371845320159315) 35%, rgba(255,255,255,0.24926467168898814) 100%);
  --light_bg: rgba(250, 250, 250, .7);
  --light_bg_grad: linear-gradient(90deg, rgba(255,255,255,0.30808820110075286) 0%, rgba(54,66,66,0.38371845320159315) 35%, rgba(255,255,255,0.24926467168898814) 100%);
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.267);
  z-index: 1000;
}
.modal > * {
  background-color: #fff;
}
.modal__content {
  max-width: 20rem;
  padding: 1rem;
  text-align: center;
}
.modal.show {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.modal .close-button {
  background-color: transparent;
  border: none;
  outline: none;
}

.cubeMenu {
  position: fixed;
  top: 25px;
  left: 30px;
  overflow: visible;
}

#ccubes {
  position: relative;
  transform-style: preserve-3d;
}
#ccubes .cube {
  position: absolute;
  transform-style: preserve-3d;
  width: 76px;
  height: 76px;
  transition: transform 1s ease-in-out;
  cursor: pointer;
  left: 0;
  will-change: transform;
  transform: translateZ(125px) rotateY(-45deg) rotateX(115deg) rotateZ(120deg);
}
#ccubes .cube > * {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(315deg, #d1dbdf 0%, #e6e6e6 74%);
  opacity: 0.85;
  box-shadow: 0 0 0.9em #0d324d inset;
  transition: opacity 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.15em;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px #0d324d;
}
#ccubes .cube .front {
  transform: translateZ(38px);
}
#ccubes .cube .front span {
  border-style: solid;
  border-width: 14px 0 14px 28px;
  border-color: transparent transparent transparent #0d324d;
  opacity: 0.8;
  transform: translate(1px, 1px);
}
#ccubes .cube .right {
  transform: rotateY(90deg) translateZ(38px);
}
#ccubes .cube .back {
  transform: rotateY(180deg) translateZ(38px);
}
#ccubes .cube .left {
  transform: rotateY(270deg) translateZ(38px);
}
#ccubes .cube .bottom {
  width: 76px;
  height: 76px;
  bottom: 0;
  transform: rotateX(270deg) translateZ(38px);
}
#ccubes .cube .top {
  width: 76px;
  height: 76px;
  background-image: linear-gradient(315deg, #d1dbdf 0%, #e6e6e6 74%);
  background-size: 152px 76px;
  background-repeat: no-repeat;
  transform: rotateX(90deg) translateZ(38px);
}
#ccubes .cube:hover > * {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */