@import "../utilities/variables", "../utilities/mixins";

.modal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.267);
    z-index: 1000;
    >*{
        background-color: #fff;
    }
    &__content{
        max-width: 20rem;
        padding: 1rem;
        text-align: center;
    }
    &.show{
        margin: auto;
        @include flex(row, center,center);

    }
    .close-button{
        background-color: transparent;
        border: none;
        outline: none;
    }
}