@keyframes rightA {
    0% {transform: translate(-96%, 10%) scale(.19);}
    20% {transform: translate(-93%, 12%) scale(.18);}
    40% {transform: translate(-92%, 10%) scale(.17);}
    60% {transform: translate(-90%, 14%) scale(.16);}
    80% {transform: translate(-93%, 12%) scale(.18);}
    100% {transform: translate(-96%, 10%) scale(.19);}
}
@keyframes backA {
    0% {transform: translate(-88%, 0%) scale(.19);}
    20% {transform: translate(-93%, 12%) scale(.18);}
    40% {transform: translate(-92%, 10%) scale(.17);}
    60% {transform: translate(-90%, 14%) scale(.16);}
    80% {transform: translate(-93%, 12%) scale(.18);}
    100% {transform: translate(-88%, 0%) scale(.19);}
}
@keyframes leftA {
    0% {transform: translate(5%, 15%) scale(.19);}
    20% {transform: translate(7%, 17%) scale(.19);}
    40% {transform: translate(8%, 18%)  scale(.17);}
    60% {transform: translate(6%, 17%)  scale(.16);}
    80% {transform: translate(4%, 16%)  scale(.18);}
    100% {transform: translate(5%, 15%) scale(.19);}
}
@keyframes topA {
    0% {transform: translate(-2.5%, 10%) scale(.19);}
    20% {transform: translate(-1.7%, 11%) scale(.19);}
    40% {transform: translate(-2.8%, 12%)  scale(.17);}
    60% {transform: translate(0.6%, 11%)  scale(.16);}
    80% {transform: translate(-1%, 9%)  scale(.18);}
    100% {transform: translate(-2.5%, 10%) scale(.19);}
}
@keyframes bottomA {
    0% {transform: translate(-7.5%, 0%) scale(.19);}
    20% {transform: translate(-7%, 4%) scale(.19);}
    40% {transform: translate(-8%, 8%)  scale(.17);}
    60% {transform: translate(-6%, 7%)  scale(.16);}
    80% {transform: translate(-5%, 4%)  scale(.18);}
    100% {transform: translate(-7.5%, 0%) scale(.19);}
}
